{% extends "sep/layout.html" %} {% load static %} {% block body %}
<link href="{% static '/edit_profile.css' %}" rel="stylesheet" />

<div class="container-xl px-4 mt-4">
    <div class="col-12">
        <!-- Page title -->
        <a 
            href="{% url 'profile' request.user.username %}" 
            class="btn btn-light btn-sm mb-3 has-icon"
        >
        <i class="fa fa-arrow-left mr-2"></i>
        Back
        </a>
        <h4><strong>Edit Profile</strong></h4>
        <h6 class="mb-3">Update your details!</h6>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture -->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image -->
                    {% if user.picture %}
                    <img
                        class="rounded-circle mr-2"
                        src={{ user.picture }}
                        width="200"
                        height="200"
                        alt="User"
                    />
                    {% else %}
                    <img 
                        class="rounded-circle mr-2" 
                        src="/media/index/undraw_profile.svg" 
                        width="200"
                        height="200"
                        alt="">
                    {% endif %}
                    <div class="row mt-4">
                    </div>
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG only</div>
                    <!-- Profile picture upload button-->
                    <button 
                        class="btn btn-primary" 
                        type="button"
                        data-toggle="modal"
                        data-target="#pictureModal"
                        >Upload new image
                    </button>
                    <div class="row mt-2">
                    </div>
                    {% if user.picture %}
                    <form 
                        action="{% url 'editing_profile' user.username %}"
                        method="POST"
                    >
                    {% csrf_token %}
                        <input
                            type="submit"
                            class="btn btn-primary"
                            value="Remove current image"
                            name="removepic" 
                        />
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Profile details -->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form
                        action="{% url 'editing_profile' user.username %}"
                        method="POST"
                        enctype="multipart/form-data"
                        onsubmit="sweetAlert()"
                    >
                        {% csrf_token %}
                        <!-- Form Row -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (username) -->
                            <div class="col-md-6">
                                <label 
                                    class="small mb-1" 
                                    for="inputUsername"
                                    >Username
                                </label>
                                <input readonly 
                                    class="form-control-plaintext" 
                                    id="inputUsername" 
                                    name="inputUsername" 
                                    type="text" 
                                    value={{ user.username }} 
                                    required
                                    >
                            </div>
                            <!-- Form Group (year of study) -->
                            <div class="col-md-6">
                                <label 
                                    class="small mb-1" 
                                    for="inputYear"
                                    >Year of Study
                                </label>
                                <input 
                                    class="form-control" 
                                    id="inputYear" 
                                    name="inputYear" 
                                    type="number"
                                    min="1" 
                                    max="6"
                                    placeholder="Enter your year of study" 
                                    value={{ user.year }} 
                                    required
                                    >
                            </div>
                        </div>
                        <!-- Form Row -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (faculty) -->
                            <div class="col-md-6">
                                <label 
                                    class="small mb-1" 
                                    for="inputFaculty"
                                    >Faculty
                                </label>
                                <select 
                                    class="form-control" 
                                    id="inputFaculty" 
                                    name="inputFaculty"
                                    required 
                                    >
                                    <optgroup label="Current Faculty">
                                        <option value="{{ user.faculty }}" selected>
                                            {{ user.faculty }}
                                        </option>
                                    </optgroup>
                                    <optgroup label="All Faculties">
                                        <option value="College of Humanities and Sciences">
                                            College of Humanities and Sciences
                                        </option>
                                        <option value="NUS Business School">
                                            NUS Business School
                                        </option>
                                        <option value="School of Computing">
                                            School of Computing
                                        </option>
                                        <option value="Faculty of Dentistry">
                                            Faculty of Dentistry
                                        </option>
                                        <option value="College of Design and Engineering">
                                            College of Design and Engineering
                                        </option>
                                        <option value="Faculty of Law">
                                            Faculty of Law
                                        </option>
                                        <option value="Yong Loo Lin School of Medicine">
                                            Yong Loo Lin School of Medicine
                                        </option>
                                        <option value="Yong Siew Toh Conservatory of Music">
                                            Yong Siew Toh Conservatory of Music
                                        </option>
                                    </optgroup>
                                </select>
                            </div>
                            <!-- Form Group (major) -->
                            <div class="col-md-6">
                                <label 
                                    class="small mb-1" 
                                    for="inputMajor"
                                    >Major
                                </label>
                                <select 
                                    class="form-control" 
                                    id="inputMajor" 
                                    name="inputMajor"
                                    required
                                    >
                                    <optgroup label="Current Major">
                                        <option value="{{ user.major }}" selected>
                                            {{ user.major }}
                                        </option>
                                    </optgroup>
                                    <!-- Optgroup (XDP) -->
                                    <optgroup label="CHS (Cross-Disciplinary Programmes)">
                                        <option value="Data Science and Economics">
                                          Data Science and Economics
                                        </option>
                                        <option value="Environmental Studies">
                                          Environmental Studies
                                        </option>
                                        <option value="Philosophy, Politics, and Economics">
                                          Philosophy, Politics, and Economics
                                        </option>
                                    </optgroup>
                                    <!-- Optgroup (Arts) -->
                                    <optgroup label="CHS (Asian Studies and Humanities)">
                                      <option value="Chinese Language">
                                        Chinese Language
                                      </option>
                                      <option value="Chinese Studies">
                                        Chinese Studies
                                      </option>
                                      <option value="English Language and Linguistics">
                                        English Language and Linguistics
                                      </option>
                                      <option value="English Literature">
                                        English Literature
                                      </option>
                                      <option value="Global Studies">
                                        Global Studies
                                      </option>
                                      <option value="History">
                                        History
                                      </option>
                                      <option value="Japanese Studies">
                                        Japanese Studies
                                      </option>
                                      <option value="Malay Studies">
                                        Malay Studies
                                      </option>
                                      <option value="Philosophy">
                                        Philosophy
                                      </option>
                                      <option value="South Asian Studies">
                                        South Asian Studies
                                      </option>
                                      <option value="Southeast Asian Studies">
                                        Southeast Asian Studies
                                      </option>
                                      <option value="Theatre and Performance Studies">
                                        Theatre and Performance Studies
                                      </option>
                                    </optgroup>
                                    <!-- Optgroup (Social Sciences) -->
                                    <optgroup label="CHS (Social Sciences)">
                                      <option value="Anthropology">
                                        Anthropology
                                      </option>
                                      <option value="Communications and New Media">
                                        Communications and New Media
                                      </option>
                                      <option value="Economics">
                                        Economics
                                      </option>
                                      <option value="Geography">
                                        Geography
                                      </option>
                                      <option value="Political Science">
                                        Political Science
                                      </option>
                                      <option value="Psychology">
                                        Psychology
                                      </option>
                                      <option value="Social Work">
                                        Social Work
                                      </option>
                                      <option value="Sociology">
                                        Sociology
                                      </option>
                                    </optgroup>
                                    <!-- Optgroup (Sciences) -->
                                    <optgroup label="CHS (Sciences)">
                                      <option value="Chemistry">
                                        Chemistry
                                      </option>
                                      <option value="Data Science and Analytics">
                                        Data Science and Analytics
                                      </option>
                                      <option value="Food Science and Technology">
                                        Food Science and Technology
                                      </option>
                                      <option value="Life Sciences">
                                        Life Sciences
                                      </option>
                                      <option value="Mathematics">
                                        Mathematics
                                      </option>
                                      <option value="Pharmaceutical Science">
                                        Pharmaceutical Science
                                      </option>
                                      <option value="Physics">
                                        Physics
                                      </option>
                                      <option value="Quantitative Finance">
                                        Quantitative Finance
                                      </option>
                                      <option value="Statistics">
                                        Statistics
                                      </option>
                                    </optgroup>
                                    <!-- Optgroup (Business) -->
                                    <optgroup label="NUS Business School">
                                      <option value="Business Administration (Accountancy)">
                                        Business Administration (Accountancy)
                                      </option>
                                      <option value="Business Administration">
                                        Business Administration
                                      </option>
                                      <option value="Real Estate">
                                        Real Estate
                                      </option>
                                    </optgroup>
                                    <!-- Optgroup (Computing) -->
                                    <optgroup label="School of Computing">
                                      <option value="Business Analytics">
                                        Business Analytics
                                      </option>
                                      <option value="Computer Science">
                                        Computer Science
                                      </option>
                                      <option value="Information Security">
                                        Information Security
                                      </option>
                                      <option value="Information Systems">
                                        Information Systems
                                      </option>
                                      <option value="Computer Engineering">
                                        Computer Engineering
                                      </option>
                                    </optgroup>
                                    <!-- Optgroup (Dentistry) -->
                                    <optgroup label="Faculty of Dentistry">
                                      <option value="Dentistry">
                                        Dentistry
                                      </option>
                                    </optgroup>
                                    <!-- Optgroup (Design)-->
                                    <optgroup label="CDE (Design)">
                                      <option value="Architecture">
                                        Architecture
                                      </option>
                                      <option value="Industrial Design">
                                        Industrial Design
                                      </option>
                                      <option value="Infrastructure and Project Management">
                                        Infrastructure and Project Management
                                      </option>
                                      <option value="Landscape Architecture">
                                        Landscape Architecture
                                      </option>
                                    </optgroup>
                                    <!-- Optgroup (Engineering) -->
                                    <optgroup label="CDE (Engineering)">
                                      <option value="Biomedical Engineering">
                                        Biomedical Engineering
                                      </option>
                                      <option value="Chemical Engineering">
                                        Chemical Engineering
                                      </option>
                                      <option value="Civil Engineering">
                                        Civil Engineering
                                      </option>
                                      <option value="Electrical Engineering">
                                        Electrical Engineering
                                      </option>
                                      <option value="Engineering Science">
                                        Engineering Science
                                      </option>
                                      <option value="Environmental Engineering">
                                        Environmental Engineering
                                      </option>
                                      <option value="Industrial and Systems Engineering">
                                        Industrial and Systems Engineering
                                      </option>
                                      <option value="Material Science and Engineering">
                                        Material Science and Engineering
                                      </option>
                                      <option value="Mechanical Engineering">
                                        Mechanical Engineering
                                      </option>
                                    </optgroup>
                                    <!-- Optgroup (Law -->
                                    <optgroup label="Faculty of Law">
                                      <option value="Law">
                                        Law
                                      </option>
                                    </optgroup>
                                    <!-- Optgroup (Medicine) -->
                                    <optgroup label="Yong Loo Lin School of Medicine">
                                      <option value="Medicine">
                                        Medicine
                                      </option>
                                      <option value="Nursing">
                                        Nursing
                                      </option>
                                      <option value="Pharmacy">
                                        Pharmacy
                                      </option>
                                    </optgroup>
                                    <!-- Optgroup (Music) -->
                                    <optgroup label="Yong Siew Toh Conservatory of Music">
                                      <option value="Audio Arts and Sciences">
                                        Audio Arts and Sciences
                                      </option>
                                      <option value="Brass">
                                        Brass
                                      </option>
                                      <option value="Composition">
                                        Composition
                                      </option>
                                      <option value="Music and Society">
                                        Music and Society
                                      </option>
                                      <option value="Music, Collaboration and Production">
                                        Music, Collaboration and Production
                                      </option>
                                      <option value="Percussion">
                                        Percussion
                                      </option>
                                      <option value="Piano">
                                        Piano
                                      </option>
                                      <option value="Strings and Harp">
                                        Strings and Harp
                                      </option>
                                      <option value="Voice">
                                        Voice
                                      </option>
                                      <option value="Woodwinds">
                                        Woodwinds
                                      </option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <!-- Form Group (email) -->
                        <div class="mb-3">
                            <label 
                                class="small mb-1" 
                                for="inputEmail"
                                >Email
                            </label>
                            <input 
                                class="form-control" 
                                id="inputEmail" 
                                name="inputEmail" 
                                type="text" 
                                placeholder="Enter your email" 
                                value={{ user.email }}
                                required
                                >
                        </div>
                        <!-- Save changes button -->
                        <button 
                            type="submit" 
                            class="btn btn-primary" 
                            name="savechanges"
                            >Save changes
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Upload Profile Picture Modal -->
        <div
            class="modal fade"
            id="pictureModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="pictureModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form
                        action="{% url 'editing_profile' user.username %}"
                        method="POST"
                        enctype="multipart/form-data"
                        >
                        {% csrf_token %}
                        <div
                            class="modal-header d-flex align-items-center bg-primary text-white"
                        >
                            <h6 class="modal-title mb-0" id="pictureModalLabel">
                            Change Profile Picture
                            </h6>
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                                >
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                            <label 
                                for="inputPicture"
                                >Upload Photo
                            </label>
                            <input
                                class="form-control"
                                type="file"
                                id="inputPicture"
                                name="inputPicture"
                                accept="image/png, image/jpeg"
                            />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button 
                                type="button" 
                                class="btn btn-light" 
                                data-dismiss="modal"
                                >Cancel
                            </button>
                            <input
                                type="submit"
                                class="btn btn-primary"
                                value="Upload"
                                name="uploadpic" 
                            />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
        ></script>

    </div>
</div>
{% endblock %}