{% extends "sep/layout.html" %} {% load static %} {% block body %}
<link href="{% static '/forums.css' %}" rel="stylesheet" />

<div class="container">
  <div class="main-body p-0">
    <div class="inner-wrapper">

      <!-- Forum Detail -->
      <div class="inner-main-body p-2 p-sm-3">
        <a href="{% url 'forum' %}" class="btn btn-light btn-sm mb-3 has-icon"
          ><i class="fa fa-arrow-left mr-2"></i>Back</a
        >
        <div class="media forum-item">
          <img
            src="https://bootdey.com/img/Content/avatar/avatar1.png"
            class="rounded-circle"
            width="30"
            alt="User"
          />
          <div class="media-body ml-2">
            <span class="text-muted small"><strong>Posted by: {{ forum_post.user }}</strong></span>
            <span class="text-muted small"><strong>| {{ forum_post.date }} </strong></span>

            {% if item.user != request.user %}
            <span class="text-muted small"
              >|
              <a href="{% url 'messages' forum_post.user.username %}"
                ><i class="fas fa-comment ml-2"></i></a
            ></span>
            {% endif %}

            <br />
            <strong
              ><a
                href="{% url 'forum_post' forum_post.id %}"
                class="text-body"
                >{{ item.title }}</a
              ></strong
            ><br />
          </div>
        </div>

        <div class="card mb-2">
          <div class="card-body">
            <div class="mt-2 font-size-sm">
              <h1 style="font-weight: 700; color: grey">
                {{ forum_post.title }}
              </h1>
              <br />
              <p class="text-muted ml-2">{{ forum_post.query }}</p>
              <br />
              <img
                class="col-xl-9 p-1"
                src="{{ forum_post.attachments }}"
                style="max-width: 50%"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- /Forum Detail -->

      <!-- All comments -->
      <strong class="ml-3">All Comments:</strong>
      <div class="inner-main-body">
 
        {% for comment in comments %}
        <div class="card mb-2">
          <div class="card-body">
              <div class="media forum-item">
                  <a 
                  href="javascript:void(0)" 
                  class="card-link">
                      <img 
                      src="https://bootdey.com/img/Content/avatar/avatar2.png" 
                      class="rounded-circle" 
                      width="50" 
                      alt="User" />
                  </a>
                  <div class="media-body ml-3">
                      <a 
                      href="javascript:void(0)" 
                      class="text-secondary"
                      >{{comment.user}}
                      </a>
                      <small 
                      class="text-muted ml-2"
                      >{{comment.date}}
                      </small>
                      <div 
                      class="font-size-sm">
                          <p>{{comment.comment}}</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        {% empty %}
        <span class="text-default-d3 text-90 text-600radius-1 p-2">
          No comments.
        </span>

        {% endfor %}
        <br />
        <!-- /All comments -->

        <!-- Add a comment -->
        <form
        action="{% url 'forum_post' forum_post.id %}"
        method="POST"
        enctype="multipart/form-data"
        onsubmit="sweetAlert()"
        >
        {% csrf_token %}
          <div class="form-group">
            <label for="new_comment"><strong>Add a Comment...</strong></label>
            <textarea
              class="form-control"
              id="new_comment"
              name="new_comment"
              placeholder="Add a Comment..."
              required
            ></textarea>
          </div>
          <textarea
            class="form-control summernote"
            style="display: none"
          ></textarea>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
        </form>
        <!-- /Add a comment -->
  </div>
</div>
{% endblock %}