{% extends "sep/layout.html" %}
{% load static %}

{% block body %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function sweetAlert() {
        swal("Removed from planner!", "", "success");
    }
</script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static '/index.css' %}" rel="stylesheet">
<link href="{% static '/calendar.css' %}" rel="stylesheet">
<body id="page-top">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">

                        <!--Query -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2" style="display:inline-block;">
                                            <a href="{% url 'forum' %}"><div class="h3 font-weight-bold text-primary text-uppercase">
                                                Forum </div></a>
                                            <div class="text-xs mb-0 ml-1 font-weight-bold text-gray-800">Start a discussion!</div>
                                        </div>
                                        <img class="col-xl-5" src="/media/index/undraw_Public_discussion_re_w9up.png" width="10" height="100" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Reviews -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2" style="display:inline-block;">
                                            <a href="{% url 'reviews' %}"><div class="h3 font-weight-bold text-success text-uppercase">
                                                Reviews</div></a>
                                            <div class="text-xs ml-1 font-weight-bold text-gray-800">Help another student!</div>
                                        </div>
                                        <img class="col-xl-5" src="/media/index/undraw_Add_notes_re_ln36.png" width="500" height="90" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modules -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2" style="display:inline-block;">
                                            <a href="{% url 'modules' %}"><div class="h3 font-weight-bold text-info text-uppercase">
                                                Modules</div></a>
                                            <div class="text-xs ml-1 font-weight-bold text-gray-800">Map overseas modules!</div>
                                        </div>
                                        <img class="col-xl-5" src="/media/index/undraw_Adventure_re_ncqp.png"  width="500" height="90" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Messages -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2" style="display:inline-block;">
                                            <a href="{% url 'messages' request.user.username %}"> <div class="h3 font-weight-bold text-warning text-uppercase">
                                                Messages</div> </a>
                                            <div class="text-xs ml-1 font-weight-bold text-gray-800">Connect with SEP!</div>
                                        </div>
                                        <img class="col-xl-5" src="/media/index/undraw_Share_opinion_re_4qk7.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Announcement Panel Row -->
                    <div class="row">
                        <!-- Announcement Panel -->
                        <div class="col-xl-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">SEP Announcements</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div>
                                        {% for opening in openings %}
                                            <div>
                                                <strong>Opportunities: {{ opening.title }}</strong>
                                                <div style="float:right;"><small><strong>Updated on: {{ opening.date }}</strong></small></div> <br />
                                                {% if opening.title in watchlist %}
                                                    <div style="float:right;"><strong><small>Already saved</small></strong></div>
                                                {% else %}
                                                    <div style="float:right;" class="bg-white">
                                                        <a href="{% url 'save_watchlist' opening.title %}"><small class="mr-1 font-weight-bold"><i class="fa fa-plus"></i> Save for later</small></a>
                                                    </div>
                                                {% endif %}
                                            </div><br />
                                            {{ opening.text }}
                                            <hr>
                                        {% endfor %}
                                    </div>
                                    <div class="btn btn-warning" style="width:100%;">
                                        {% if openings.has_previous %}
                                        <a href="?page={{ openings.previous_page_number }}" class="text-white" style="float:left;">Previous </a>
                                        {% endif %}
                                        Page {{ openings.number }} of {{openings.paginator.num_pages}}
                                        {% if openings.has_next %}
                                        <a href="?page={{ openings.next_page_number }}" class="text-white" style="float:right;"> Next</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- More Content Row -->
                    <div class="row">

                        <!-- SEP Results -->
                        <div class="col-xl-4 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">SEP Results</h6>
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Progress of SEP Application <span class="float-right">80% complete</span></h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div><br />
                                    <h4 class="small font-weight-bold">Progress of Module Selection <span class="float-right">50% complete</span></h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div><br />
                                    <h4 class="small font-weight-bold">Deadline for SEP Application <span class="float-right">In 29 days</span></h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div><br />
                                    <img class="col-xl-11" src="/media/index/undraw_Information_tab_re_f0w3.png" style="width: 200%; margin-right: 10px;" />
                                </div>
                            </div>
                        </div>

                        <!-- SEP Planner -->
                        <div class="col-xl-5 col-lg-5">
                            <!-- Project Card Example -->
                            <div class="card">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">SEP Planner</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row text-center">
                                        <div class="col-6 princing-item blue">
                                        <div class="pricing-divider ">
                                            <h5 class="text-light"><i class="fas fa-book"></i> Shortlisted Modules</h5>
                                            <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
                                        <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
                                    c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                                        <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
                                    c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                                        <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
                                    H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                                        <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
                                    c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
                                        </svg>
                                        </div> 
                                        {% for item in shortlist %}
                                        Mapping: <a href="{% url 'delete_shortlist' item.partneruniversity.nusmodulecode %}"><i style="float:left; margin:3px;" class="fas fa-trash" onclick="sweetAlert()"></i></a> {{ item.partneruniversity.nusmodulecode }} <i class="fa fa-long-arrow-right"></i> {{ item.partneruniversity.pumodulecode }}
                                        <hr>
                                        {% empty %}
                                        No modules shortlisted.
                                        {% endfor %}
                                        </div><br />
                                        <div class="col-6 princing-item green">
                                        <div class="pricing-divider ">
                                            <h5 class="text-light"><i class="fas fa-school"></i> Shortlisted Universities</h5>
                                            <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
                                        <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
                                    c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                                        <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
                                    c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                                        <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
                                    H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                                        <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
                                    c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
                                        </svg>
                                        </div>
                                        {% for item in lst2 %}
                                        {{ item }}
                                        <hr>
                                        {% empty %}
                                        No SEP universities shortlisted.
                                        {% endfor %}
                                        </div>
                                    </div>
                                    
                                      <!-- Calendar -->
                                    <div id="calender">
                                        <table colspan="10">
                                            <thead class="color">
                                                <tr>
                                                    <th colspan="7" class="bg-info">
                                                        <div>
                                                            <i class="fas fa-caret-left icon mr-4"> </i>
                                                            <h4 id="cal-month"> July </h4>
                                                            <i class="fas fa-caret-right icon ml-4"> </i>
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="col-1.5 bg-info">Sun</th>
                                                    <th class="col-1.5 bg-info">Mon</th>
                                                    <th class="col-1.5 bg-info">Tue</th>
                                                    <th class="col-1.5 bg-info">Wed</th>
                                                    <th class="col-1.5 bg-info">Thu</th>
                                                    <th class="col-1.5 bg-info">Fri</th>
                                                    <th class="col-1.5 bg-info">Sat</th>
                                                </tr>
                                            </thead>
                                    
                                            <tbody id="table-body">
                                                <tr>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>3 <i class="fa fa-circle" style="color: rgba(44, 208, 126, .5)"></i></td>
                                                    <td>4</td>
                                                    <td>5</td>
                                                    <td>6</td>
                                                    <td>7</td>
                                                </tr>
                                                <tr>
                                                    <td>8 <i class="fa fa-circle" style="color: rgba(44, 208, 126, .5)"></i></td>
                                                    <td>9</td>
                                                    <td>10</td>
                                                    <td>11</td>
                                                    <td>12 <i class="fa fa-circle" style="color: rgba(44, 208, 126, .5)"></i></td>
                                                    <td>13</td>
                                                    <td>14</td>
                                                </tr>
                                                <tr>
                                                    <td>15</td>
                                                    <td>16</td>
                                                    <td>17</td>
                                                    <td>18 <i class="fa fa-circle" style="color: rgba(253, 77, 180, 0.5)"></i></td>
                                                    <td>19</td>
                                                    <td>20</td>
                                                    <td>21</td>
                                                </tr>
                                                <tr>
                                                    <td>22</td>
                                                    <td>23 <i class="fa fa-circle" style="color: rgba(44, 208, 126, .5)"></i></td>
                                                    <td>24</td>
                                                    <td>25</td>
                                                    <td>26</td>
                                                    <td>27 <i class="fa fa-circle" style="color: rgba(253, 77, 180, 0.5)"></i></td>
                                                    <td>28</td>
                                                </tr>
                                                <tr>
                                                    <td>29</td>
                                                    <td>30</td>
                                                    <td>31</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row ml-5">
                                            <i class="fa fa-circle ml-5 mr-2" style="color: rgba(44, 208, 126, .5)"></i> SEP Information Session
                                            <i class="fa fa-circle ml-5 mr-2" style="color: rgba(253, 77, 180, 0.5)"></i> SEP Document Deadline
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SEP Destinations -->
                        <div class="col-xl-3 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">SEP Destinations</h6>
                                    <div class="dropdown no-arrow">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <canvas id="myChart"></canvas>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
                                    <script>
                                        const ctx = document.getElementById('myChart').getContext('2d');
                                        const myChart = new Chart(ctx, {
                                            type: 'doughnut',
                                            data: {
                                                labels: ['US', 'UK', 'China', 'Australia', 'Others'],
                                                datasets: [{
                                                    label: 'Dataset 1',
                                                    data: [91, 44, 65, 32, 33],
                                                    backgroundColor: [
                                                        'rgba(255, 99, 132)',
                                                        'rgba(255, 159, 64)',
                                                        'rgba(255, 205, 86)',
                                                        'rgba(75, 192, 192)',
                                                        'rgba(54, 162, 235)',
                                                        'rgba(153, 102, 255)',
                                                    ],
                                                }]
                                            },
                                            options: {
                                                responsive: true,
                                                plugins: {
                                                    legend: {
                                                        position: 'top',
                                                    },
                                                    title: {
                                                        display: true,
                                                        text: 'Where our students go'
                                                    }
                                                }
                                            },
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; NUS Orbital SEPlan 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
</body>
</html>
{% endblock %}
