{% extends "sep/layout.html" %} {% load static %} {% block body %}

<!-- Added to SEP planner alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  function sweetAlert() {
    swal("Added to planner!", "", "success");
  }
</script>

<link href="{% static '/modules.css' %}" rel="stylesheet" />

<div class="container">
  <!-- Modules landing page -->
  <div class="row">
    <!-- Modules back -->
    <div class="col-xl-12">
      <a href="{% url 'index' %}" class="btn btn-light btn-sm mb-3 has-icon"
        ><i class="fa fa-arrow-left mr-2"></i>Back</a
      >
      <div class="card">
        <div class="card-body">
          <!-- Module header -->
          <h5 class="header-title pb-4">
            Mapping NUS Modules to SEP Universities
          </h5>
          <div class="pb-3">
            <div class="pb-3">Your faculty: {{ request.user.faculty }}</div>

            <!-- Module search bar -->
            <form
              class="input-group"
              action="{% url 'modules' %}"
              method="POST"
            >
              {% csrf_token %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-search"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="module"
                  placeholder="Enter NUS module..."
                />
                <input type="submit" value="Search" class="btn btn-info" />
              </div>
            </form>
          </div>
          <br />

          <!-- Module search results table -->
          <div class="table-responsive">
            {% if search %}
            <div class="pb-2">Search results for: "{{ module }}"</div>
            {% endif %}

            <table class="table table-hover mb-0">
              <thead>
                <tr class="align-self-center">
                  <th>Partner University</th>
                  <th>Module</th>
                  <th>Module Code</th>
                  <th>NUS Module</th>
                  <th>NUS Module Code</th>
                  <th>Add</th>
                </tr>
              </thead>
              <tbody>
                {% if mappable %} {% for item in mappable %}
                <tr>
                  <td>{{ item.puname }}</td>
                  <td>{{ item.pumodule }}</td>
                  <td>{{ item.pumodulecode }}</td>
                  <td>{{ item.nusmodule }}</td>
                  <td>{{ item.nusmodulecode }}</td>
                  {% if item.nusmodulecode in added %}
                  <td>
                    <small class="mr-1 font-weight-bold"
                      ><i
                        class="fa fa-check-circle fa-2x"
                        style="color: rgb(106, 242, 106)"
                      ></i
                    ></small>
                  </td>
                  {% else %}
                  <td>
                    <a href="{% url 'planner' item.id %}"
                      ><small class="mr-1 font-weight-bold"
                        ><i
                          class="fa fa-plus"
                          onclick="sweetAlert()"
                        ></i></small
                    ></a>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %} {% else %} {% if search %}
                <tr>
                  <td>No mappings found for {{ module }}.</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                {% endif %} {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
