{% extends "sep/layout.html" %} {% load static %} {% block body %}
<link href="{% static '/review_page.css' %}" rel="stylesheet" />

<!-- Individual review landing page -->
<div class="container">
  <!-- Header -->
  <h4 class="mb-3">SEP University Reviews</h4>
  <a href="{% url 'reviews' %}" class="btn btn-light btn-sm mb-3 has-icon"
    ><i class="fa fa-arrow-left mr-2"></i>Back</a
  >
  <br />
  <div class="row">
    <!-- Section for details about the SEP university -->
    <div class="col-md-4 col-xl-3">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title mb-0">University</h5>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title mb-0">{{ university }}</h4>
          <br />
          <small> Review Count: {{ count }} </small>
        </div>
      </div>
    </div>

    <!-- Section showing all reviews for that SEP university -->
    <div class="col-md-8 col-xl-9">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Reviews</h5>
        </div>
        <div>
          {% for review in reviews %}

          <!-- Individual review -->
          <div class="card-body">
            <div class="media">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar6.png"
                width="36"
                height="36"
                class="rounded-circle mr-2"
                alt="Andrew Jones"
              />
              <div class="media-body">
                {% if review.user != request.user %}
                <strong>
                  <a href={% url "profile" review.user.username %}
                  >{{ review.user.username }}</a
                  ></strong> created this review.
                <a
                  class="btn btn-warning btn-sm float-right"
                  href="{% url 'messages' review.user.username %}"
                >
                  <i class="fa fa-comment text-95"></i>
                  Message {{ review.user.username }}</a
                >
                {% else %}
                <strong>
                  <a href={% url "profile" request.user.username %}
                  >You</a
                  ></strong> created this review. 
                {% endif %}
                <br />
                <small class="text-muted">{{ review.date }}</small>
                <div class="border text-sm text-muted p-2">
                  <strong>Review: </strong><br />
                  {{ review.review }} <br /><br />
                  <strong>Modules Mapped: </strong><br />
                  {{ review.modules }} <br /><br />
                  <strong>Living Environment: </strong><br />
                  {{ review.living }} <br /><br />
                  <strong>Things to Prepare: </strong><br />
                  {{ review.prepare}} <br /><br />
                </div>
                <div class="col-xl-9 p-2">
                  <strong>Most memorable picture I wish to share: </strong>
                </div>
                <img
                  class="col-xl-9 p-1"
                  src="{{ review.attachments }}"
                  style="width: 50%; margin-right: 10px"
                />
              </div>
            </div>
          </div>

          <hr />

          {% endfor %}

          <!-- Paginator -->
          <div style="text-align: center">
            <div>SEPlan</div>
            {% if reviews.has_previous %}
            <a
              href="?page={{ reviews.previous_page_number }}"
              class="float-left text-white"
              >Previous</a
            >
            {% endif %} Page {{ reviews.number }} of
            {{reviews.paginator.num_pages}} {% if reviews.has_next %}
            <a
              href="?page={{ reviews.next_page_number }}"
              class="float-right text-white"
              >Next</a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
