{% extends "sep/layout.html" %} {% load static %} {% block body %}

<body class="bg-gradient-primary">
  <div class="container">
    {% if message %}
    <div style="color: white">{{ message }}</div>
    {% endif %}

    <!-- Register landing page -->
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Register display body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                  <!-- Form Group (username) -->
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      name="username"
                      placeholder="Username"
                    />
                  </div>
                  <!-- Form Group (faculty) -->
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <select class="form-control" name="faculty">
                      <option value="College of Humanities and Sciences">
                        College of Humanities and Sciences
                      </option>
                      <option value="NUS Business School">
                        NUS Business School
                      </option>
                      <option value="School of Computing">
                        School of Computing
                      </option>
                      <option value="Faculty of Dentistry">
                        Faculty of Dentistry
                      </option>
                      <option value="College of Design and Engineering">
                        College of Design and Engineering
                      </option>
                      <option value="Faculty of Law">Faculty of Law</option>
                      <option value="Yong Loo Lin School of Medicine">
                        Yong Loo Lin School of Medicine
                      </option>
                      <option value="Yong Siew Toh Conservatory of Music">
                        Yong Siew Toh Conservatory of Music
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <!-- Form Group (year) -->
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                      type="number"
                      min="1" 
                      max="6"
                      class="form-control form-control-user"
                      name="year"
                      placeholder="Year of Study"
                    />
                  </div>
                  <!-- Form Group (major) -->
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <select class="form-control" name="faculty">
                      <option value="Undecided">
                        Undecided
                      </option>
                      <!-- Optgroup (XDP) -->
                      <optgroup label="CHS (Cross-Disciplinary Programmes)">
                          <option value="Data Science and Economics">
                            Data Science and Economics
                          </option>
                          <option value="Environmental Studies">
                            Environmental Studies
                          </option>
                          <option value="Philosophy, Politics, and Economics">
                            Philosophy, Politics, and Economics
                          </option>
                      </optgroup>
                      <!-- Optgroup (Arts) -->
                      <optgroup label="CHS (Asian Studies and Humanities)">
                        <option value="Chinese Language">
                          Chinese Language
                        </option>
                        <option value="Chinese Studies">
                          Chinese Studies
                        </option>
                        <option value="English Language and Linguistics">
                          English Language and Linguistics
                        </option>
                        <option value="English Literature">
                          English Literature
                        </option>
                        <option value="Global Studies">
                          Global Studies
                        </option>
                        <option value="History">
                          History
                        </option>
                        <option value="Japanese Studies">
                          Japanese Studies
                        </option>
                        <option value="Malay Studies">
                          Malay Studies
                        </option>
                        <option value="Philosophy">
                          Philosophy
                        </option>
                        <option value="South Asian Studies">
                          South Asian Studies
                        </option>
                        <option value="Southeast Asian Studies">
                          Southeast Asian Studies
                        </option>
                        <option value="Theatre and Performance Studies">
                          Theatre and Performance Studies
                        </option>
                      </optgroup>
                      <!-- Optgroup (Social Sciences) -->
                      <optgroup label="CHS (Social Sciences)">
                        <option value="Anthropology">
                          Anthropology
                        </option>
                        <option value="Communications and New Media">
                          Communications and New Media
                        </option>
                        <option value="Economics">
                          Economics
                        </option>
                        <option value="Geography">
                          Geography
                        </option>
                        <option value="Political Science">
                          Political Science
                        </option>
                        <option value="Psychology">
                          Psychology
                        </option>
                        <option value="Social Work">
                          Social Work
                        </option>
                        <option value="Sociology">
                          Sociology
                        </option>
                      </optgroup>
                      <!-- Optgroup (Sciences) -->
                      <optgroup label="CHS (Sciences)">
                        <option value="Chemistry">
                          Chemistry
                        </option>
                        <option value="Data Science and Analytics">
                          Data Science and Analytics
                        </option>
                        <option value="Food Science and Technology">
                          Food Science and Technology
                        </option>
                        <option value="Life Sciences">
                          Life Sciences
                        </option>
                        <option value="Mathematics">
                          Mathematics
                        </option>
                        <option value="Pharmaceutical Science">
                          Pharmaceutical Science
                        </option>
                        <option value="Physics">
                          Physics
                        </option>
                        <option value="Quantitative Finance">
                          Quantitative Finance
                        </option>
                        <option value="Statistics">
                          Statistics
                        </option>
                      </optgroup>
                      <!-- Optgroup (Business) -->
                      <optgroup label="NUS Business School">
                        <option value="Business Administration (Accountancy)">
                          Business Administration (Accountancy)
                        </option>
                        <option value="Business Administration">
                          Business Administration
                        </option>
                        <option value="Real Estate">
                          Real Estate
                        </option>
                      </optgroup>
                      <!-- Optgroup (Computing) -->
                      <optgroup label="School of Computing">
                        <option value="Business Analytics">
                          Business Analytics
                        </option>
                        <option value="Computer Science">
                          Computer Science
                        </option>
                        <option value="Information Security">
                          Information Security
                        </option>
                        <option value="Information Systems">
                          Information Systems
                        </option>
                        <option value="Computer Engineering">
                          Computer Engineering
                        </option>
                      </optgroup>
                      <!-- Optgroup (Dentistry) -->
                      <optgroup label="Faculty of Dentistry">
                        <option value="Dentistry">
                          Dentistry
                        </option>
                      </optgroup>
                      <!-- Optgroup (Design)-->
                      <optgroup label="CDE (Design)">
                        <option value="Architecture">
                          Architecture
                        </option>
                        <option value="Industrial Design">
                          Industrial Design
                        </option>
                        <option value="Infrastructure and Project Management">
                          Infrastructure and Project Management
                        </option>
                        <option value="Landscape Architecture">
                          Landscape Architecture
                        </option>
                      </optgroup>
                      <!-- Optgroup (Engineering) -->
                      <optgroup label="CDE (Engineering)">
                        <option value="Biomedical Engineering">
                          Biomedical Engineering
                        </option>
                        <option value="Chemical Engineering">
                          Chemical Engineering
                        </option>
                        <option value="Civil Engineering">
                          Civil Engineering
                        </option>
                        <option value="Electrical Engineering">
                          Electrical Engineering
                        </option>
                        <option value="Engineering Science">
                          Engineering Science
                        </option>
                        <option value="Environmental Engineering">
                          Environmental Engineering
                        </option>
                        <option value="Industrial and Systems Engineering">
                          Industrial and Systems Engineering
                        </option>
                        <option value="Material Science and Engineering">
                          Material Science and Engineering
                        </option>
                        <option value="Mechanical Engineering">
                          Mechanical Engineering
                        </option>
                      </optgroup>
                      <!-- Optgroup (Law -->
                      <optgroup label="Faculty of Law">
                        <option value="Law">
                          Law
                        </option>
                      </optgroup>
                      <!-- Optgroup (Medicine) -->
                      <optgroup label="Yong Loo Lin School of Medicine">
                        <option value="Medicine">
                          Medicine
                        </option>
                        <option value="Nursing">
                          Nursing
                        </option>
                        <option value="Pharmacy">
                          Pharmacy
                        </option>
                      </optgroup>
                      <!-- Optgroup (Music) -->
                      <optgroup label="Yong Siew Toh Conservatory of Music">
                        <option value="Audio Arts and Sciences">
                          Audio Arts and Sciences
                        </option>
                        <option value="Brass">
                          Brass
                        </option>
                        <option value="Composition">
                          Composition
                        </option>
                        <option value="Music and Society">
                          Music and Society
                        </option>
                        <option value="Music, Collaboration and Production">
                          Music, Collaboration and Production
                        </option>
                        <option value="Percussion">
                          Percussion
                        </option>
                        <option value="Piano">
                          Piano
                        </option>
                        <option value="Strings and Harp">
                          Strings and Harp
                        </option>
                        <option value="Voice">
                          Voice
                        </option>
                        <option value="Woodwinds">
                          Woodwinds
                        </option>
                      </optgroup>
                    </select>
                  </div>
                </div>
                <!-- Form Group (email) -->
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    name="email"
                    placeholder="Email Address"
                  />
                </div>
                <div class="form-group row">
                  <!-- Form Group (password) -->
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      name="password"
                      placeholder="Password"
                    />
                  </div>
                  <!-- Form Group (confirm password) -->
                  <div class="col-sm-6">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      name="confirmation"
                      placeholder="Confirm Password"
                    />
                  </div>
                </div>
                <!-- Submit Button -->
                <input
                  type="submit"
                  value="Register Account"
                  class="btn btn-primary btn-user btn-block"
                />
              </form>
              <hr />
              <!-- Error Message (if password doesn't meet requirements) -->
              <div class="small">
                Please ensure your password contains a minimum of 8 characters
                and at least 1 lower case letter, 1 upper case letter, 1 number,
                and 1 special character.
              </div>
              <br />
              <!-- Link to Login -->
              <div class="text-center">
                <a class="small" href="{% url 'login' %}"
                  >Already have an account? Login!</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
