{% extends "sep/layout.html" %} {% load static %} {% block body %}
<link href="{% static '/watchlist.css' %}" rel="stylesheet" />

<div class="container note-has-grid">
  <!-- Watchlist header -->
  <div class="nav-link bg-info rounded-pill px-md-3">
    <span style="color: white">My Watchlist</span>
  </div>
  <br />

  <!-- Watchlist content -->
  <div class="tab-content bg-transparent">
    <div id="note-full-container" class="note-has-grid row">
      {% for item in watchlist %}
      <div class="col-md-4 single-note-item note-business">
        <div class="card card-body">
          <span class="side-stick"></span>
          <span class="text-truncate mb-0"
            >{{ item.opening.title }}<i
              class="point fas fa-sticky-note ml-2"
            ></i
          ></span>
          <small class="note-date font-12">{{ item.opening.date }}</small><br />
          <div>
            <small>{{ item.opening.text }}</small>
          </div>
          <br />
          <div class="d-flex align-items-center">
            <a href="{% url 'delete_watchlist' item.opening.title %}"
              ><span class="mr-1"
                ><i class="point fa fa-trash remove-note"></i></span
            ></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
